/* -*-c-*- */

#include <winver.h>

#define VER_FILETYPE		VFT_DRV
#define VER_FILESUBTYPE		VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR	"SAN Boot Configuration Driver"
#define VER_INTERNALNAME_STR	"sanbootconf.sys"
#define VER_ORIGINALFILENAME_STR "sanbootconf.sys"
#define VER_FILEVERSION		1,2,0,0
#define VER_FILEVERSION_STR	"1.2.0"
#define VER_PRODUCTVERSION	VER_FILEVERSION
#define VER_PRODUCTVERSION_STR	VER_FILEVERSION_STR
#define VER_LEGALCOPYRIGHT_STR	"Copyright (C) 2008-2014 Fen Systems Ltd."
#define VER_COMPANYNAME_STR	"Fen Systems Ltd."
#define VER_PRODUCTNAME_STR	VER_FILEDESCRIPTION_STR
#define VER_FILEFLAGS		VS_FF_DEBUG
#define VER_FILEFLAGSMASK	VS_FFI_FILEFLAGSMASK
#define VER_FILEOS		VOS_NT_WINDOWS32

#include "common.ver"
